@import "../../../styles/index.scss";
.coded-text {
  margin: 15px;
  color: var(--dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.coded-text:hover {
  // color: #000;
}
