@import "../../styles/index.scss";

.GlowMouseTracking {
  display: grid;
  grid-template-areas: "a";
  color-scheme: dark;
  background: black;
  width: 100%;
  height: 100%;
  padding: 1rem;

  > * {
    grid-area: a;
  }

  .grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 150px;
    position: relative;
    z-index: 1;
    padding: $spacing-unit;
  }
}
