@import "./styles/index.scss";
.App {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  .canvas {
    height: 100vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .CoreyDonenfeldButton {
    align-self: flex-end;
    color: white;
    padding: 10px;
    font-size: 2em;
  }
}
