.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, rgb(177, 149, 99), white);
  display: flex;
  align-items: center;
  justify-content: center;
  .canvas {
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 50%;
  }
}
